html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;


	background: linear-gradient(#141e30, #243b55);

  color:#0e0402!important;
  height:fit-content;
  min-height:100vh;

}
svg {
  margin-right: 10px;
}

code {
  font-family: 'Montserrat', sans-serif;}

 